.menu_atas{
	background-color: #0088cc;
	color: white;
	overflow: hidden;
}

.nama_halaman{
	float: left;
	padding: 5px 10px;
	margin-left: 20px;
}

.btn_logout{
	float: right;
	margin-top: 10px;
	padding: 5px 10px;
	margin-right: 15px;
}

.btn_logout a{
	font-size: 24px;
	color: white;
	text-shadow: 1px 1px 0 #444;
}

.btn_logout a:hover{
	color: yellow;
}

.isi_utama{
	padding: 35px;
	/*min-height: 540px;*/
	padding-top: 50px;
	/*background-color: #f6f6e9;*/
	background-color: #f2f4f6;
	overflow: hidden;
}

.white_wraper{
	padding: 15px;
	background-color: white;
	width: 100%;
	margin: auto;
}

/*-- adm Table ---*/
.tbl_wrapper{
	width: 100%;
	overflow-x: auto;
}

.tbl_admin{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #a6a6a6;
}

.tbl_admin thead tr{
	background-color: #262626;
	color: white;
}

.tbl_admin tbody tr{
	background-color: white;
}

.tbl_admin td, .tbl_admin th{
	padding: 5px;
	border: 1px solid #a6a6a6;
}

.tbl_admin tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tbl_admin tbody tr td a{
	display: inline-block;
	padding: 6px 10px;
	margin-top: 3px;
}
/*-- /adm Table ---*/


/*-- paginasi --*/
.paginasi{
	padding: 5px;
	float: right;
}

.paginasi ul li{
	list-style: none;
	float: left;
	padding: 10px 13px;
	border-left: 1px solid #ccc;
	background-color: rgb(235, 235, 235);
}

.paginasi ul li:first-child{
	border-left: none;
}

.paginasi ul li:hover{
	cursor: pointer;
	background-color: #0088cc;
	color: white;
}

.paginasi ul li.page_active{
	background-color: #0088cc;
	color: white;
}

.paginasi ul li.page_notActive{
	color: #ccc;
	cursor: not-allowed;
}

.paginasi ul li.page_notActive:hover{
	background-color: rgb(235, 235, 235);
}
/*-- paginasi --*/
