body{
	margin: 0;
	font-family:  Verdana, sans-serif;
}

.main-content{
	padding: 20px;
	/*padding-left: 25px;*/
}

.baris:after{
	content: "";
	display: table;
	clear: both;
}

[class*="kol-"]{
	width: 100%;
	/*background-color: green;*/
}


.btn {
	padding: 12px 16px;
	font-size: 16px;
	text-decoration: none;
	border: none;
	color: white;
	cursor: pointer;
}

.btn_utama{
	background-color: #0059b3;
}

.btn_utama:hover{
	background-color: #0066cc;
}

.btn_kedua{
	background-color: orange;
	color: navy;
}

.btn_kedua:hover{
	background-color: yellow;
}

.btn_sukses{
	background-color: #00b33c;
}

.btn_sukses:hover{
	background-color: #00cc44;
}

.btn_bsr{
	padding: 24px 52px;
	font-size: 36px;
}

.btn_link{
	text-decoration: none;
	color: midnightblue;
}

.btn_link:hover{
	color: #005792;
}

.main-body{
	/*background-color: #dfe4ea;*/
	background-color: #ffdb4d;
	overflow: hidden;
	/*padding: 0px;*/
}

.main-body:after{
	content: "";
	display: table;
	clear: both;
}

.card{
	width: 75%;
	padding: 40px 20px;
	margin: auto;
	margin-bottom: 40px;
	background-color: rgba(225, 225, 225, 0.5);
	overflow: hidden;
}

.judul_atas{
	color: navy;
	font-size: 12px;
}

.error_form{
	display: none;
	position: fixed;
	width: 25%;
	padding: 8px;
	top: 15%;
	left: 38%;
	background-color: rgba(0,0,0,0.8);
	color: white;
	font-size: 14px;
	text-align: center;
}

input[type="file"]{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.uploadIcon{
  display: inline-block;
  padding: 3px 5px;
  cursor: pointer; 
  background-color: rgb(60, 60, 60);
  color: white;
  border-radius: 5px;
  text-align: center;
}

.uploadIcon:hover{
  background-color: lightgrey;
  color: black;
}


/*Media Quary*/
@media only screen and (min-width: 600px){
	.kol-m-1{ float: left; width: 8.33%; }
	.kol-m-2{ float: left; width: 16.66%; }
	.kol-m-3{ float: left; width: 25%; }
	.kol-m-4{ float: left; width: 33.33%; }
	.kol-m-5{ float: left; width: 41.66%; }
	.kol-m-6{ float: left; width: 50%; }
	.kol-m-7{ float: left; width: 58.33%; }
	.kol-m-8{ float: left; width: 66.66%; }
	.kol-m-9{ float: left; width: 75%; }
	.kol-m-10{ float: left; width: 83.33%; }
	.kol-m-11{ float: left; width: 91.66%; }
	.kol-m-12{ float: left; width: 100%; }

	.card{
		width: 60%;
	}

	.judul_atas{
		font-size: 15px;
	}
}

@media only screen and (min-width: 768px){
	.kol-1{ float: left; width: 8.33%; }
	.kol-2{ float: left; width: 16.66%; }
	.kol-3{ float: left; width: 25%; }
	.kol-4{ float: left; width: 33.33%; }
	.kol-5{ float: left; width: 41.66%; }
	.kol-6{ float: left; width: 50%; }
	.kol-7{ float: left; width: 58.33%; }
	.kol-8{ float: left; width: 66.66%; }
	.kol-9{ float: left; width: 75%; }
	.kol-10{ float: left; width: 83.33%; }
	.kol-11{ float: left; width: 91.66%; }
	.kol-12{ float: left; width: 100%; }

	.card{
		width: 50%;
	}

	.judul_atas{
		font-size: 18px;
	}
}

