
.top-menu{
	/*background-color: #00264d;*/
	background-color: #13334c;
	overflow: hidden;
}

.top-menu a{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	margin-left: 2px;
	height: 30px;
}

.mainMenu{
	float: right;
}

#logo{
	float: left;
}

#img_logo{
	width: 80px;
	height: 30px;
}

#img_logo img{
	width: 100%;
	height: 100%;
}

.top-menu a:hover{
	background-color: orange;
	/*color: black;*/
}

.top-menu a.active{
	background-color: orange;
	/*color: black;*/
}

#logo:hover{
	background-color: #00264d;
}

#menu-icon{
	display: none;
}

#drop{
	float: left;
	overflow: hidden;
	margin-left: 2px;
}

#btn_dropdown{
	cursor: pointer;
	font-size: 17px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
}

#btn_dropdown:hover{
	background-color: orange;
}

#isi_dropdown{
	display: none;
	position: absolute;
	background-color: #003366;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

#isi_dropdown a{
	float: none;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	margin-left: 0;
}

#isi_dropdown a:hover{
	background-color: orange;
	/*color: black;*/
}

#drop:hover #isi_dropdown{
	display: block;
}

@media only screen and (max-width: 700px){
	.mainMenu a, #drop {display: none;}
	.top-menu #menu-icon{
		float: right;
		display: block;
	}
}

@media only screen and (max-width: 700px) {
	.mainMenu.responsive{
		position: relative;
		width: 100%;
	}
	
	.top-menu.responsive a#menu-icon{
		position: absolute;
		right: 0;
		top: 0;
	}

	.mainMenu.responsive a{
		float: none;
		display: block;
		text-align: right;
		margin-top: 3px;
	}

	#drop.responsive{
		display: block;
		float: none;
		margin-top: 3px;
	}

	#isi_dropdown{
		width: 100%;
		position: relative;
		background-color: #003366;
	}

	#isi_dropdown a{
		text-align: right;
	}

	#btn_dropdown{
		cursor: pointer;
		width: 100%;
		text-align: right;
	}

	#btn_dropdowna:hover{
		background-color: orange;
		color: midnightblue;
	}
}